    body{
  font-family: Arial, sans-serif;
  margin:0;
  color:#222;
}

/* header */

header{
  display:flex;
  justify-content:space-between;
  padding:30px 60px;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:#333;
}

/* hero */

.hero{
  padding:120px 20px;
  text-align:center;
}

.hero h2{
  font-size:40px;
}

/* section */

section{
  padding:80px 20px;
  max-width:900px;
  margin:auto;
}

h2{
  margin-bottom:30px;
}


/* works */

.work-list{
  display:flex;
  flex-direction:column;
  gap:60px;
}

.work{
  text-align:center;
}

.work img{
  width:80%;
  max-width:900px;
  display:block;
  margin:0 auto;
}

.work p{
  margin-top:10px;
  font-size:16px;
}

.role{
  font-size:12px;
  color:#888;
  margin-top:5px;
}

/* works2 */

.work-list2{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.work img{
  width:100%;
}

.role{
  font-size:12px;
  color:#888;
  margin-top:5px;
}

/* works3 */

.work-list3{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:80px;
}

.work-list3 .work{
  text-align:center;
  max-width:900px;
}

.work-list3 img{
  width:80%;
  max-width:900px;
  display:block;
  margin:0 auto;
}

.work-list3 p{
  margin-top:15px;
  font-size:18px;
}

.role{
  font-size:12px;
  color:#888;
  margin-top:5px;
}

/* before-after */
.ba-title{
  text-align:left;
  font-size:14px;
  margin-bottom:10px;
}

.before-after{
  text-align:center;
}

.ba-title{
  text-align:left;
  font-weight:normal;
}

.ba-item{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

.ba-box{
  text-align:center;
}

.ba-box img{
  width:200px;
  height:auto;
  border-radius:8px;
}

.arrow{
  font-size:40px;
  color:#666;
}

/* footer */

footer{
  text-align:center;
  padding:40px;
  font-size:14px;
}
